@charset "utf-8";
/* 登录界面CSS */
.loginBg{
	height:472px;
	background: #CD1C1F url(../images/login_bg.gif) left center no-repeat;
}
.loginBg .login{
	width:300px;
	height:310px;
	padding:20px;
	background: #FFF;
	float: right;
	margin-top: 50px;
	position: relative;
}
.login h2{
	font-weight: 500;
	margin-bottom: 5px;
}
.login h2 a{
	font-weight: 400;
	font-size: 90%;
	float: right;
	padding-left: 20px;
	color: red;
	background: url(../images/login_reg.gif) left center no-repeat;
}
.tip{
	padding:3px 2px;
	background: #FFF6D2;
	border:1px solid orange;
	text-align: center;
	color:#666;
}
/*登陆框*/
.form form li{
	margin-top: 15px;
}
.uid,.pwd{
	display: inline-block;
	width:39px;
	height:38px;
	background: #ededed;
	border:1px solid #CCC;
	border-right: 0;
	float: left;
}
.form input{
	width:238px;
	height:20px;
	border:1px solid #CCC;
	font-size:14px;
	padding:9px 10px;
}
.form input:focus{
	outline: 0;
}
.form input[type=checkbox]{
	width:16px;
	vertical-align: middle;
}
.form input[type=submit]{
	width:100%;
	height:35px;
	padding:5px 0;
	border:0;
	background:#E4393C;
	font-size: 18px;
	letter-spacing: 10px;
	color:#FFF;
	font-weight:600;
	cursor: pointer;
}

/*其它方式登录*/
.otherLogin{
	position: absolute;
	bottom: 20px;
	font-size: 13px;
}
.otherLogin p{
	color:#888;
}
.otherLogin ul li{
	float: left;
	margin-right: 10px;
}

/*调查*/
.dc{
	color:#888;
	padding-left: 30px;
	background: url(../images/login_msg.gif) no-repeat;
}
/*登录界面CSS结束*/

/*注册页面CSS*/
/*注册方式*/
.regWay{
	width:440px;
	margin:0 auto;
	/*height:40px;*/
}
.regWay li{
	float: left;
	cursor: pointer;
	padding:5px 20px;
	border:1px solid #AAA;
	margin-right: 10px;
	background: #FFF;
	position: relative;
	top:1px;
	z-index: 1;
}
.regWay li.on{
	color:#F00;
	border-bottom:0;
	padding-bottom: 6px;
}
/*已经注册*/
.alreadyReg{
	line-height: 30px;
}
.alreadyReg a{
	padding:0 5px;
}
/*注册表单*/
.regFormBox{
	background: #FFF;
	min-height: 500px;
	overflow: hidden;
	border:1px solid #AAA;
}
/*手机快速注册*/
.regFormBox .phoneReg{
	width:170px;
	height:180px;
	border:1px solid #AAA;
	margin:30px 50px 0 0;
	padding:5px;
	color: #888;
}
.phoneReg h3{
	height:60px;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	text-align:right;
	font-size: 22px;
	font-weight: 500;
}
.phoneReg p{
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	margin-top: 20px;
}
.phoneReg p span{
	color:#C10000;
	font-size: 20px;
}
/*注册表单项*/
.regForm{
	width:700px;
}
.regForm li{
	height:40px;
	line-height: 40px;
	margin-top: 20px;
	color: #888;
}
.regForm li label{
	width:160px;
	text-align: right;
	margin-right: 10px;
	display: inline-block;
}
/*.regForm li label i.red{
	color:red;
	margin-right: 5px;
}*/
.regForm input[type=text],.regForm input[type=password]{
	width: 240px;
	height:25px;
	padding:4px 5px;
}
.regForm input:focus{
	outline: 0;
}
.regForm input.yzm{
	width:80px;
}
.regForm .yzm+span img{
	vertical-align: middle;
	margin-top: -2px;
}
.regForm .btn{
	/*width: 120px;
	height:36px;*/
	background: #EDEDED;
	padding:8px 15px;
	border:1px solid #AAA;
	color:#888;
	cursor:pointer;
}
.regForm input[type=checkbox]{
	/*width:16px;
	height:16px;*/
	margin:0;
	padding:0;
	vertical-align: middle;
	margin-left: 170px;
}
.regForm input[type=submit]{
	width:240px;
	text-align: center;
	padding:10px;
	background: #E03639;
	margin-left: 170px;
	border:0;
	border-radius: 2px;
	color:#FFF;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}